@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: 'Libre Baskerville';
    src: url('./assets/fonts/LibreBaskerville-Regular.ttf');
  }

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(105, 97, 97);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 116, 116);
  }

  body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif, 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

.room {
  flex: 1;
  display: block;
  overflow-y: auto;

  padding: 1rem;
}
.header {
  position: sticky;
}
.board_container {
  flex: 1;
  width: 90vw;
  max-width: 80vh;
  margin: 0 auto;
}

.gameroom {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .room {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
  }

  .room-grid-template {
    grid-template-columns: minmax(min-content, 348px) min-content minmax(min-content, 348px);
  }
  .header {
    position: sticky;
  }
  .board_container {
    flex: 1;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: unset;
  }
}
